<!--<div align="center" style="width: 50%">
    <input type="text" placeholder="Enter Username" #username>
    <input type="password" placeholder="Enter password" #password>
    <button (click)="loginUser(username.value,password.value)">Login</button>
</div>-->

<div class="row" style="width: 40%" align="center">
  <h4>Login Here</h4>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" placeholder="Enter Username" #username>
        <input type="password" placeholder="Enter password" #password>
        <button (click)="loginUser(username.value,password.value)">Login</button>
      </div>
    </div>
  </form>
</div>

